body{
   margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg,  #25279b,#25279bbd);
  font-family: Arial, sans-serif;
     }
             html{
            scroll-behavior: smooth; /* smooth scroll */
        }
            .wel{
                text-align: center;
                background-color: black;
                color: rgba(255, 255, 255, 0.747);
            }
       #Link{ 
        background-color: rgba(255, 255, 255, 0.103);
              font-size: large;
             a:link{color:white}
             a:visited{color:rgb(252, 45, 8);}
             a:hover{color:rgba(6, 157, 245, 0.884)}
             a:active{color:green;}
                display: flex;
                gap: 25px; 
              justify-content: center;
            }
        .Profile-card{background-image: url('https://img.freepik.com/free-vector/luxury-background-dark-modern-wave-gradient-design_343694-3090.jpg?semt=ais_hybrid&w=740&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 150px;
            width: 40%;
            padding: 50px;
            margin: auto;
            border: 3px solid rgba(0, 0, 0, 0.562);
            border-left: 3px solid red;
            border-bottom: 4px solid red;
            border-radius: 8px;
            text-align: left;
              .anand{
                 width: 150px;
                 height: 190px;
                 border-radius: 60%;
                 object-fit: cover;
              }
        }
        h1{
            color: rgba(255, 255, 255, 0.849);
        }
        u{
            color: rgba(0, 255, 64, 0.808);
            font-style: oblique;
            
        }
        .web{
            color: rgba(255, 255, 255, 0.904);
        }
        img{
            height: 15%;
            width: 25%;
        }
        .projects{
           
           #Myh2{
                background-color: black;
                color:rgba(245, 245, 245, 0.815);
                text-align: center;
            }
        }
            .section{
             background-image: url('https://i.pinimg.com/originals/1d/30/b5/1d30b5a0c298c02edaf2f501b22a6587.gif');
             background-repeat: no-repeat;
             background-size: cover;
             height: 50px;
             width: 12%;
             padding: 20px;
             margin: auto;
             border: 3px solid rgba(0, 0, 0, 0.562);
             border-left: 4px solid rgb(8, 191, 247);
             border-bottom: 5px solid  rgb(8, 191, 247);
             border-radius: 8px;
             text-align: left;
             cursor: pointer;
             transition: transform 0.4s cubic-bezier(.68,-0.55,.27,1.55);
              }
              .section:hover{
                transform: translateX(-30px);
              }
            h3{
                color: white;
                text-align: center;
                font-size: large;
              }
              h4{
                text-align: center;
                background-color: rgba(255, 255, 255, 0.479);
                color: black;
                font-size: large;
              }
              footer{
                text-align: center;
              }
              #About{
                font-size: large;
              }